src/date20200226/Student.DTD

<?xml version="1.0" encoding="UTF-8"?>
        <!-- 声明外部DTD -->
        <!ELEMENT students (student+)>
        <!ELEMENT student (name,course,score)>
        <!ATTLIST student id CDATA #REQUIRED>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT course (#PCDATA)>
        <!ELEMENT score (#PCDATA)>
